.project-container {
  margin: 55px 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-img {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  border-radius: 8px;
}

.project-header {
  margin-bottom: 45px;
  font-size: 45px;
  font-weight: 100;
}

.project-text {
  max-width: 800px;
  width: 100%;
  margin: 100px 0 50px;
  font-size: 18px;
  font-weight: 300;
}

.functions li{
  list-style-type: circle;
  color: black;
}

.toGithub,
.liveLink {
  background-color: #14532d;
  width: 121px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #14532d;
  border-radius: 4px;
  padding: 8px 6px;
  margin: 30px 0;
}

@media (max-width: 768px) {

  .project-header {
    font-size: 24px;
    margin-top: 28px;
  }

  .project-text {
    font-size: 14px;
  }

  .toGithub,
  .liveLink {
    font-size: 12px;
    padding: 5px 8px;
  }
}
