ul li{
    list-style-type: disc;
    font-size: 15px;
    font-weight: 300;
}

ul .title{
    margin: 5px 0;
    font-size: 16px;
    font-weight: 300;
}

.experience{
    display: flex;
    justify-content: center;
    gap: 0 15px;
    margin: 25px 0 60px 0;
}

.resume-list{
    max-width: 800px;
    width: 100%;
    margin: 0 25px;
}

.experience-date{
    font-weight: 300;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    text-align: end;
}

.experience-header{
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0px;
    color: #14532d;
    font-weight: 700;
    font-size: 20px;
}

.FED{
    font-weight: 600;
}

.FED span{
    font-weight: 400;
}

@media (max-width: 768px){
    .experience{
        display: block
    }

    .experience-date{
    font-size: 15px;
        text-align: start;
    }

    .experience-header{
        display: block;
        margin: 0;
        font-size: 18px;
    }

    .resume-list{
        margin: 0;
    }
}