ul li {
  list-style-type: disc;
  font-size: 15px;
  font-weight: 300;
  margin: 0 22px;
}

ul span {
  text-decoration: underline;
}

ul .title {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 300;
}

.experience {
  display: flex;
  gap: 0 15px;
  margin: 25px 0 60px 0;
}

.resume-list {
  width: 20%;
}
.resume-lists {
  width: 100%;
  margin: 0 25px;
}

.resume-date {
  font-weight: 300;
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

.resume-header {
  margin: 0 0 10px 0px;
  color: #14532d;
  font-weight: 700;
  font-size: 22px;
}

.FED {
  font-weight: 600;
}

.FED span {
  font-weight: 400;
}

.education {
  gap: 0 15px;
  margin: 25px 0 60px 0;
}

.stack,
.contact {
  margin: 25px 0 60px 0;
}

@media (max-width: 768px) {
  .experience {
    display: block;
  }

  .resume-list{
      width: 100%;
  }
  .resume-lists{
      margin: 10px 0 0;
  }

  .resume-date {
    font-size: 15px;
    text-align: start;
  }

  .resume-header {
    display: block;
    margin: 0;
    font-size: 20px;
  }

  .resume-list {
    margin: 0;
  }

  .education,
  .stack {
    display: block;
  }
}
