.navBar{
    display: flex;
    justify-content: space-around;
}

.navBar strong{
    margin-right: 400px;
    font-size: 20px;
}

.navLink{
    margin-left: 400px;
    font-size: 20px;
}

.navLink a{
    transition: color 300ms;
}

.navLink a:hover{
    color: #fff3b0;
}

